.product-card {
  border: 1px solid black;
  height: 300px;
  margin: 5px;
  width: 30%;
}

.product-title-section {
  width: 100%;
}

.product-title {
  font-size: 20px;
}

.product-price {
  font-size: 30px;
}
